@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
.mainlogo{
    margin-top: 15px;
    width: 100px;
}
#logotext{
    width: 200px;
    margin-bottom: 25px;
    margin-left: -20px;
}
nav{
    width: 99.99%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    padding-right: 100px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -20px;
    background-color: #0d1117;
}
#navbut{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    color: white;

}
.navbuttons{
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 35px;
    padding: 15px;
    padding-top: 0px;
    text-decoration-line: none;
}
.navbuttons:hover{
    color: rgb(172, 172, 172);
}

.contact {
    position: relative;
    min-height: 10vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0d1117;
}

.contact .content {
    max-width: 800px;
    text-align: center; 
}

.contact .content h2 {
    font-size: 3em;
    color: #fff; 
    font-weight: 500;
}

.contact .content p {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactInfo .box .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
}

.container .contactInfo .box .icon::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #0d1117;
}

.container .contactInfo .box .icon b {
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}

.container .contactInfo .box .icon i {
    position: relative;
    z-index: 1000;
    color: #0d1117;
    font-size: 1.35em;
}

.container .contactInfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #01dbc2;
}

.container .contactInfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;
}

.container .contactInfo .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.container .contactInfo .sci li {
    list-style-type: none;
}

.container .contactInfo .sci li a {
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}

.container .contactInfo .sci li a:hover {
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);
}

.container .contactForm {
    position: relative;
    width: 40%;
    background: repeating-linear-gradient(
        0deg, 
        #01dbc2 0%,
        #508f88 10%,
        transparent 10%,
        transparent 50%
    );
    animation: moveGradient 6s linear infinite;
    background-size: 200% 100%;
    padding: 60px;
}

.container .contactForm::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        0deg, 
        #01dbc2 0%, 
        #508f88 10%, 
        transparent 10%, 
        transparent 50%
    );
    background-size: 200% 100%;
    animation: moveGradient 6s linear infinite;
    animation-delay: 1.0s;
}

.container .contactForm::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #0d1117;
    background: #181d23;
} 

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.container .contactForm form {
    position: relative;
    z-index: 10;
}

.container .contactForm form h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.container .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea {
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #01dbc2;
    color: #fff;
    outline: none;
    resize: none;
}

.container .contactForm form .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0; 
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}

.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~ span,
.container .contactForm form .inputBox input:valid ~ span,
.container .contactForm form .inputBox textarea:valid ~ span {
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactForm form .inputBox input[type="submit"] {
    width: 100%;
    background: #01dbc2;
    color: #0d1117;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

/* Make it responsive */
@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm {
        width: 100%;
    }
    .container .contactForm form {
        padding: 40px;
    }
}